<!DOCTYPE html>
<html>
<head>
  <title></title>
<!-- <link rel="stylesheet" type="text/css" href="css/style.css"></link> -->
<!-- <link rel="stylesheet" type="text/css" href="css/font-awesome.css"> -->

</head>
<body>
    <div class="container">
        <div class="row vertical-offset-100">
          <div class="col-md-4 col-md-offset-4"> 
            <div class="panel panel-default">
              <div class="panel-heading">
                <h3 class="panel-title">Please sign in</h3>
            </div>
              <div class="panel-body">
               <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                <form accept-charset="UTF-8" role="form">
                        <fieldset>
                    <div class="form-group">
                      <input class="form-control" placeholder="E-mail" name="email" type="email" autocomplete="on">
                  </div>

                  <div class="form-group">
                    <input class="form-control" placeholder="Password" name="password" type="password" value="" autocomplete="on">
                  </div>
                  <p> Forgot your password?
                    <%= link_to "Rest passowrd", new_password_reset_path  %>
                    
                  </p>
                  <div class="field">
                    <%= check_box_tag :remember_me, 1, params[:remember_me] %>
                    <%= label_tag :remember_me %>
                  </div>
                  <!-- <div class="checkbox inline">
                      <label>
                        <input name="remember" type="checkbox" value="Remember Me"> Remember Me
                      </label>
                    </div> -->
                  <input class="btn btn-lg btn-success btn-block" type="submit" value="Login">
                  <br><p class="paragraphs">are you new here? <a class="button" href="/signup">Signup</a></p>
                </fieldset>
                  </form>
                  <% end %>


              </div>
          </div>
        </div>
      </div>
    </div>

</body>
</html>