<!DOCTYPE html>
<html>
<head>
  <title></title>
<link rel="stylesheet" type="text/css" href="css/style.css"></link>
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">

</head>
<body>

<div class="login">
  <img src="assets/logo.png">

  <%= form_tag "/login", method: :post do %>
    <div class="form-input">
      <input type="email" name="email" placeholder="Enter Email">
    </div>

    <div class="form-input">
      <input type="password" name="password" placeholder="Enter Password">
    </div>
    <input type="submit" name="submit" value="LOGIN" class="btn-login"><br>
    <br><p class="paragraphs">Don't you have account? <a class="button" href="/signup">Signup</a></p>
 <% end %>
</div>

</body>
</html>