<div style="text-align: center;" class="container-fluid">
  <h1>Log In</h1>
  <%= form_tag "/login", method: :post do %>
  <div>
    <b>User Name</b> <input type="name" name="name">
  </div>
  <div>
  <b>Password</b> <input type="password" name="password">
  </div>
  <div>
    <input type="submit" value="Log in">
  </div>
  <% end %>
</div>
