<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<h1 style="text-align: center;">See Where You Can Find Our Sellers</h1>
<style>
      /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
      #map {
        height: 100%;
      
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>
    <% @sellers.all.each do |seller| %>

      function initMap() {
        var myLatLng = {lat: <%= seller.latitude.to_f %>, lng: <%= seller.longitude.to_f %>};

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: '<%= seller.company_name %>'
        });
      }
    <% end %>
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCMQwmqQvi17vAwEVRyQp7muwnlRoYxFv0&callback=initMap">
    </script>


</body>
</html>