 <!DOCTYPE html>
<html>
<head>
  <title></title>
<link rel="stylesheet" type="text/css" href="css/style.css"></link>
<link rel="stylesheet" type="text/css" href="css/font-awesome.css">

</head>
<body>

<div class="signup">
  <img src="assets/logo.png">

  <%= form_tag "/users", method: :post do %>
    <div class="form-input">
      <input type="name" name="first_name" placeholder="Enter First Name ">
    </div>
    <div class="form-input">
      <input type="name" name="last_name" placeholder="Enter Last Name">
    </div>
    <div class="form-input">
      <input type="email" name="email" placeholder="Enter Email">
    </div>

    <div class="form-input">
      <input type="password" name="password" placeholder="Enter Password">
    </div>
    <div class="form-input">
      <input type="password" name="password_confirmation" placeholder="Re-enter Password">
    </div>
    <input type="submit" name="submit" value="Signup" class="btn-signup"><br>
    <br><p class="paragraphs">Do you have account? <a class="button" href="/login">LOGIN</a></p>
 <% end %>
</div>

</body>
</html>