<div class="container">
<div class="row">
  <div class="col-md-8">
  <!-- <div class="col-md-7"> -->
    

  <h4>Made in Rwanda Products <small style="color: green; font-family: italic;">Let Enjoy What We Make</small></h4><br>
  <p>This is a website that was built to increase the awareness of the products we make here in rwanda. With this webiste, all made in Rwanda products will be posted online and ready to be bought. The reason beyind this webiste is that all Rwandans who feel like they have something that other can enjoy, he/she will be able to do that. This website is seller friendly, because everyone who has something to sell will have a dashboard of all the products that belongs to him/her.</p> <br><br>
  <p>In order for everyone to have ability to buyer or seller a product at MadeinRwanda website, we will have ability to pay all directly to the seller using advanced payment system that we are building so far. What is interesting is that the people outside of Rwanda will use their credit card to pay for a product <small style="font-family: italic; color: green;">wherever they are</small>.</p><br><br>

  </div>
  </div>
</div>
</div>