.signup{
  width: 500px;
  height: 400px;
  text-align: center;
  background-color: rgba(52, 73, 94,0.7);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 100px;
}

.signup img{
  width: 60px;
  height: 60px;
  margin-top: -60px;
  margin-bottom: 30px;
}

input[type="name"]{
  height: 35px;
  width: 400px;
  font-size: 18px;
  border: none;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #fff;
  padding-left: 40px;

}

input[type="email"], input[type="password"] {
  height: 35px;
  width: 400px;
  font-size: 18px;
  border: none;
  margin-bottom: 15px;
  border-radius: 4px;
  background-color: #fff;
  padding-left: 40px;
}

.form-input::before{
  content: "\f007";
  position: absolute;
  font-family: "FontAwesome";
  padding-left: 5px;
  color: #9B59B6;
  padding-top: 7px;
  font-size: 20px;
}


.form-input:nth-child(6)::before{
  content: "\f023"
}

.btn-signup{
  padding: 10px 20px;
  cursor: pointer;
  color: #fff;
  border-radius: 4px;
  border: none;
  background-color: #2ECC71;
  border-bottom: 4px solid #27AE60;
  margin-bottom: 10px;
}

.paragraphs{
  color: #fff;
}

.button{
  color: #2ecc71;
}

