<h1>Create a Product</h1>
<div class="container-fluid">
 <%= form_tag "/products/", method: :post do %>
   <div>
    Name of a Product <br> <input type="text" name="name">
   </div>
   <div>
     <p>Description</p>
     <textarea rows="4" cols="50" name="description"></textarea>
   </div>
   <div>
     Price <br> <input type="integer" name="price">
   </div>
   <br><input type="submit" value="New Product"> <%= link_to "back", root_path, class: "btn btn-default" %>
   <% end %>
    
</div>


