<h1>Create a Product</h1>
<div class="container-fluid">
 <%= form_tag "/products", method: :post, multipart: true do %>
   <div>
    Name of a Product <br> <input type="text" name="name" placeholder="Product Name">
   </div>
   <strong>Category</strong>
        <select name="category">
           <% Category.all.each do |category| %>
              <option value="<%= category.name %>"><%= category.name %></option>
            <% end %>     
        </select> <br>
   <div>
     <p>Description</p>
     <textarea rows="4" cols="50" name="description" placeholder="Describe the product here........."></textarea>
   </div>
   <div>
     Quantity <br> <input type="integer" name="quantity" placeholder="Quantity in Store">
   </div>
   <div>
     Price <br> <input type="integer" name="price" placeholder="Product Price">
   </div>
   <div> <br>
     Uplaod Image<input type="file" name="image" accept="image/*;capture=camera">
   </div>
   
   <br><input type="submit" value="New Product"> 
    <%= link_to "back", root_path, class: "btn btn-default" %>
   <% end %>
    
</div>


