<h1> Add image to <%= @product.name %></h1>
<div class="container-fluid">
  <%= form_tag "/images", method: :post do%>
<div>
  <input type="hidden" name="product_id" value="<%= @product.id %>">
</div>
<div>
  <input type="url" name="url" style="width: 600px;">
</div>
<div>
  <input type="submit" value="Add Image">
</div>
<% end %>
</div>